/dts-v1/;
/plugin/;

/{
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            ism330dlctr@6a {
                compatible = "stm,ism330dlctr";
                reg = <0x6a>;

                /*INT1 wired to Pi GPIO (example GPIO25)*/
                interrupt-parent = <&gpio>;
                interrupts = <25 2>;   /*<GPIO rising edge>*/

                // Optional defaults (match your driver's DT parsing)
                st,accel-fsr-g = <4>;   //2/4/8/16 g
                st,gyro-fsr-dps = <500>;    // 250/500/1000/2000 dps
                st,odr-hz = <200>;          //effective ODR with DLPF = On 
            };
        };
    };
};