/dts-v1/;
/plugin/;

/{
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            mpu6050@68 {
                compatible = "invensense,mpu6050-custom";
                reg = <0x68>;
                

                // Optional defaults (match your driver's DT parsing)
                invensense,accel-fsr-g = <4>;   //2/4/8/16 g
                invensense,gyro-fsr-dps = <500>;    // 250/500/1000/2000 dps
                invensense,odr-hz = <20>;          //effective ODR with DLPF = On 
            };
        };
    };
};